#canvas {
    margin-top: 30px;
    box-shadow: black 20px 10px 50px;
}

body {
    height: 100vh;
    background: linear-gradient(
        0deg,
        black 0%,
        pink 100%
    );
    text-align: center;
    overflow: hidden;
}

.btn {
    width: 250px;
    height: 80px;
    font: 20px;
    background-color: rgb(164, 123, 130);
    color: black;
    border: 0px solid white;
    border-radius: 10px;
    font-size: 40px;
    position: relative;
    box-shadow: rgb(2, 2, 2) 20px 10px 50px;
}

.start {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}